<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/burger_style.css" type="text/css" />
    <title>Burgers!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="assets/js/burger.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap" rel="stylesheet">
</head>

<body>
<img src="../../assets/img/burger.png" alt="Burger" style="width:400px;height:450px;" class="displayed">

    {{{ body }}}
</body>

</html>