<h1 align="center">Burgers!</h1><h3 align="center">by Wismy Seide</h3>

<h2 align="center">Burgers that have not been Eaten!</h2>

<ul align="center">
    {{#each burgers}}
    {{#unless devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2 align="center">Burgers that have been Eaten!</h2>
 
<ul align="center">
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>

<h2 align="center">Add a Burger</h2>
<form class="create-form">

    <div class="form-group" align="center">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
    </div>

    <div class="form-group" align="center">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="1"> Eaten!<br>
    </div>
<div align="center">
    <button type="submit" align="center" class="button">Add Burger</button>
    </div>
</form>